@use "./variables" as *;

@mixin tablet {
    @media screen and (min-width: $tablet-width) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-width) {
        @content;
    }
}

@mixin section {
    min-height: 100vh;
    max-height: 100%;
    background-color: $background;
    color: $white;
    padding: 1rem;
    box-shadow: 0 0 2rem -0.5rem #000000;
    scroll-margin-top: 80px;

    @include tablet() {
        padding: 1rem 5rem;
    }
}

@mixin footer {
    max-height: 100%;
    background-color: $background;
    color: $white;
    padding: 1rem;
    box-shadow: 0 0 2rem -0.5rem #000000;
    scroll-margin-top: 80px;

    @include tablet() {
        padding: 1rem 5rem;
    }
}

@mixin shadow {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

@mixin link-hover {
    transition: color 0.3s ease;
    &:hover {
        color: $link-hover;
    }
}
