@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sirin+Stencil&family=Unica+One&display=swap");
@font-face {
    font-family: "WastedPersonalUseRegular-WyegG";
    src: url("../../assets/fonts/WastedPersonalUseRegular-WyegG.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
