$tablet-width: 768px;
$desktop-width: 1280px;

$background: #073b4c;
$background2: #084053;
$white: whitesmoke;
$link-hover: #535bf2;
$review-background1: #9f0247;
$review-background2: #9a9502;
$review-background3: #2f505b;
$review-background4: #057ca3;
$review-background5: #05a356;
