@use "../../styles/partials/index" as *;

.main {
    text-align: left;
    padding: 2rem;
    background-color: #073b4c;
    color: whitesmoke;
    min-height: 100vh;
    padding: 0rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__name {
        font-size: clamp(4rem, 1.5vw, 5rem);
        font-family: "Raleway", sans-serif;
        font-weight: normal;
        color: $white;
        margin-block: 0;
        //text-shadow: 3px 3px 3px rgb(121 125 152);
    }
}

/* .welcome {
}
 */
