.wasted-font {
    font-family: "WastedPersonalUseRegular-WyegG", sans-serif;
    color: white;
    font-size: 7rem;
    margin-block: 0;
    margin-top: 110px;
}
.music-title {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
}
