@use "../../styles/partials/index" as *;

.background {
    background-image: url("../../assets/images/weather.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 7rem;
    align-items: flex-start;
    width: 100%;

    &__zipCode {
        width: "280px";
        position: "absolute";
    }
}
.weather_container {
    background: #00000099;
    border: 1px solid #0000004d;
    border-radius: 60px;
    padding: 40px;
    margin: 0 auto;
    position: absolute;

    &__form {
        display: flex;
        margin: 0 auto;
    }

    &__input {
        border-radius: 20px;
        width: 300px;
        height: 30px;
        font-size: inherit;
        padding: 14px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    &__button {
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 95%;
        margin-top: 30px;
    }
    .zipCode {
        margin-top: 80px;
    }
    .form {
        flex-direction: column;
    }
    .form input {
        width: 100%;
    }
    .form button {
        width: 100px;
        margin: 5px auto;
    }
    .main > p {
        margin-top: -80px !important;
    }
    .main {
        flex: 1 1;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        color: white;
        padding: 1rem;
        align-items: flex-start;
        position: relative;
        width: 100%;
    }
}
@media screen and (max-height: 550px) {
    .background {
        height: 200vh;
    }
}
