@use "../../styles/partials/index" as *;
.media {
    @include section;
    background-color: black;
    color: white;
    text-align: center;

    &__title {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    &__content {
        max-width: 800px;
        margin: 0 auto;
        font-size: 1.1rem;
        line-height: 1.6;
    }

    &__grid {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;

        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;

        @include tablet {
            width: calc(50% - 1rem);
        }

        @include desktop {
            width: calc(33.333% - 1.334rem);
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }

        a {
            color: $link-hover;
            text-decoration: none;
            @include link-hover;
        }
    }
}
