@use "../../styles/partials/index" as *;

.eraserContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 100vw;
    height: 100vh;

    &__h1 {
        text-align: center;
        color: white;
        background-color: black;
        width: 75%;
    }

    &__h2 {
        text-align: center;
        color: white;
        background-color: black;
        width: 75%;
    }

    &__eraser {
        cursor: pointer;
    }
}
.flash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 1;
    pointer-events: none;
    z-index: 9999;
    animation: flash-animation 0.7s;
    -webkit-animation: flash-animation 0.7s;
}
@keyframes flash-animation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
